body {
    display: flex;
    background-color: rgb(50, 50, 80);
    justify-content: center;
}

.shadow {
    display: flex;
    flex: 0 1 auto;
    margin: 100px 20px;
    border-radius: 28px;
    box-shadow: 5px 5px 30px black;
    width: 1100px;
}

#play-area {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;
    border-radius: 28px;
    padding: 20px;
    box-shadow: inset -1px -2px 20px rgb(20, 0, 0);
    background-color: red;
}

.menu {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    flex: 0 0 auto;
    border: 5px outset rgb(150, 0, 0);
    width: 100px;
    box-shadow: inset 0 0 10px black;
}

.menu.left {
    border-radius: 20px 0 0 20px;
    margin-right: auto;
}

.menu.right {
    border-radius: 0 20px 20px 0;
    margin-left: auto;
}

.menu > button,
.menu > input {
    margin: 10px;
    background-color: rgb(250, 150, 150);
    border: 4px outset rgb(200, 50, 50);
    border-radius: 5px;
}

button {
    flex: 0 0 auto;
    height: 100px;
    font-size: 16px;
}

.color-picker,
.color-picker div {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 8px;
    /*border: 1px solid black;*/
}

.preview {
    flex: 0 0 auto;
    height: 20px;
    border: 4px inset rgb(150, 0, 0);
}

#r{background-color: rgb(255, 100, 100);}
#g{background-color: rgb(100, 255, 100);}
#b{background-color: rgb(100, 100, 255);}

a {
    text-decoration: none;
    margin: 20px 0 0 0;
}

.text {
    display: flex;
    width: 70px;
    flex: 0 1 auto;
    margin: 0px 20px;
    writing-mode: vertical-rl;
    font-size: 60px;
    justify-content: center;
    text-shadow: 1px 3px 5px rgb(150, 0, 0);
    color: rgb(100, 0, 0);
}

.text.right {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.screen {
    display: flex;
    flex: 0 0 auto;
    width: 500px;
    height: 500px;
    border: 3px outset rgb(100, 0, 0);
    box-shadow: inset 0 0 10px black;
    justify-content: stretch;
}



.column {
    display: flex;
    flex: auto;
}

.pixel {
    display: flex;
    flex: auto;
    border: 1px solid rgba(240, 240, 240, 0);
    background-color: white;
}

/*.pixel.active {
    background-color: black;
    border: 1px solid black;
}*/

.border {
    border: 1px solid gainsboro;
}

** {
    border: 2px solid white;
}